			.hidden
			{
				display:none;
			}
			
			.layer
			{
				position: absolute; 
				left: 0; 
				top: 0; 
			}
			
			.multicnv
			{
				position:relative;
				margin:auto;
				padding:10px
			}
			
			.multicnv:focus
			{
				outline: none;
			}
			
			
			.small-form
			{
				width:80px;
			}
			
			.medium-form
			{
				width:70%;
			}
			
			.big-form
			{
				width:100%;
			}
			
			div.tablespot
			{
				overflow:scroll;
				height:300px;			
			}
			
			div.canvas-holder
			{
				padding:10px;
			}
			
			.sidebar div
			{
				margin:auto;
				padding:10px;
				align : center;
			}
			
			.paramControl
			{
				width:50%;
			}
			
			#orcInput
			{
				margin:auto;
				width:80%
			}
			
			#scoInput
			{
				margin:auto;
				width:80%
			}